<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$("#search_professor").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/courses/loadProfessor/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.lastName,
									precio : item.firstName,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					$("#search_professor").val(ui.item.label);

					return false;
				}
			});
		});
	</script>
</body>
</html>