<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Course</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			</div>
			
			<div class="col-sm-12">
				<h2>Add or edit course</h2>
				<br>
				
				<form action="#" th:action="@{/processForm2}" th:object="${course}" method="post">
					<div class="form-group">
						<input type="hidden" th:field="*{id}">
					</div>	
					
					<div class="form-group row">
						<div class="col">
							<span th:text="${oldValues[0]}"></span>
							<a th:href="@{/select-subject}" class="btn btn-secondary">Change</a>
						</div>
						<div class="col">
							<span th:text="${oldValues[1]}"></span>
							<a th:href="@{/select-professor}" class="btn btn-secondary">Change</a>
						</div>
					</div>
				    
				    <input type="text" class="form-control" th:field="*{professor_id}" th:name="subjectChoice" id="subjectChoice" >
					<input type="text" class="form-control" th:field="*{subject_id}" th:name="professorChoice" id="professorChoice">

					<div class="form-group row">
						<div class="col">
							<label>Select Time Slot</label>
							<select name="time" class="form-control">
								<option th:value="${course.time}" th:text="${course.time}"></option>
								<option th:each="time : ${TIMES}" th:value="${time}" th:text="${time}"></option>
							</select>
						</div>	
	    				<div class="col">
	    					<label>Select Days</label>
							<select name="day" class="form-control">
								<option th:value="${course.day}" th:text="${course.day}"></option>
								<option th:each="day : ${DAYS}" th:value="${day}" th:text="${day}"></option>
							</select>			
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col">
							<label>Course Code</label>
							<input type="text" class="form-control" th:field="*{code}">
						</div>
						<div class="col">
							<label>Maximum Capacity</label>
							<input type="number" class="form-control" th:field="*{capacity}" min="0" max="50">
						</div>	
					</div>

					<div class="form-group row">
						<div class="col">
							<input class="btn btn-success" type="submit" value="Submit">
						</div>
						<div class="col">
							<a th:href="@{/coursesAdmin}" class="btn btn-warning float-right">Back</a>
						</div>
					</div>
					
				</form>
			</div>	
		</div>
	</div>	
</body>
</html>