<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container my-4">
		<div class="text-center">
			<h2>WELCOME TO ACME UNIVERSITY</h2>
		</div>
		<br><br><br><br><br><br>
		<div class="text-center">
			<a sec:authorize="hasRole('ROLE_STUDENT')" th:href="@{/coursesStudent}" class="btn btn-primary btn-lg">See All Courses</a>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/coursesAdmin}" class="btn btn-primary btn-lg">See All Courses</a>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addCourse}" class="btn btn-warning btn-lg">Add New Course</a>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/professors}" class="btn btn-danger btn-lg">See All Professors</a>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addProfessor}" class="btn btn-success btn-lg">Add New Professor</a>
		</div>
	</div>
	
</body>
</html>